/node_modules
/public/hot
/public/storage
/public/images/vendor
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/public/css/app.css
/public/css/styles.css
/public/css/dashboard.css
/public/css/full_calendar.css
/public/fonts
/public/js/app.js
/public/js/dashboard.js
/public/js/public.js
/public/js/employees.js
/public/js/notifications.js
/public/js/reports.js
/public/js/script.js
/public/js/rewards.js
