@import 'https://fonts.googleapis.com/css?family=Josefin+Sans:400,600,700|Open+Sans:300,400,600';
/*@import "all.min.css";*/
/*@import "owl.carousel.min.css";*/
/*@import "ionicons.min.css";*/
/*@import "chatbot.css";*/
@import "wow.css";

*::-moz-selection {
    background: #4a2ace;
    color: #fff;
    text-shadow: none
}

::-moz-selection {
    background: #4a2ace;
    color: #fff;
    text-shadow: none
}

::selection {
    background: #4a2ace;
    color: #fff;
    text-shadow: none
}

body {
    font-family: open sans, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 2em;
    color: #666
}

a {
    -webkit-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    -ms-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s
}

a:focus {
    text-decoration: none !important
}

a:focus, a:hover {
    color: #4a2ace;
    text-decoration: none !important
}

a, button {
    outline: medium !important;
    color: #4a2ace
}

h1, h2, h3, h4, h5, h6 {
    font-family: josefin sans, sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #333;
    margin: 0
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: inherit
}

label {
    font-weight: 400
}

h1 {
    font-size: 52px;
    line-height: 1.3em
}

h2 {
    font-size: 42px;
    line-height: 1.3em
}

h3 {
    font-size: 30px;
    line-height: 1.3em
}

h4 {
    font-size: 26px;
    line-height: 1.3em
}

h5 {
    font-size: 24px;
    line-height: 1.3em
}

h6 {
    font-size: 20px;
    line-height: 1.3em
}

ul {
    margin: 0;
    padding: 0
}

hr {
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #ccc;
    display: inline-block;
    width: 100%;
    border-top: 0
}

.main-color {
    color: #4a2ace
}

.blue-color {
    color: #4a2ace
}

.text-white {
    color: #fff
}

.text-black {
    color: #333
}

.text-gray {
    color: #666
}

.title-box {
    margin-bottom: 75px;
    text-align: center
}

.title-box .title {
    margin-bottom: 15px
}

.title-box .sub-title {
    margin: 0 150px
}

.button {
    color: #4a2ace;
    cursor: pointer;
    padding: 10px 40px;
    font-weight: 600;
    font-size: 16px;
    border: 2px solid #4a2ace;
    position: relative;
    background: #fff;
    font-family: josefin sans, sans-serif;
    display: inline-block;
    -webkit-border-radius: 90px;
    -moz-border-radius: 90px;
    border-radius: 90px;
    -webkit-box-shadow: 6px 4px 20px 1px rgba(56, 27, 170, .15);
    -moz-box-shadow: 6px 4px 20px 1px rgba(56, 27, 170, .15);
    box-shadow: 6px 4px 20px 1px rgba(56, 27, 170, .15)
}

.button:hover, .button:focus {
    color: #fff;
    background: #4a2ace
}

.white-bg {
    background: #fff
}

.gray-bg {
    background: #f3f4fb
}

.main-bg {
    background: #4a2ace
}

.black-bg {
    background: #333
}

.dark-bg {
    background: #222
}

.bg-over-black-10:before {
    background: rgba(0, 0, 0, .1);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0
}

.bg-over-black-20:before {
    background: rgba(0, 0, 0, .2);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0
}

.bg-over-black-30:before {
    background: rgba(0, 0, 0, .3);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0
}

.bg-over-black-40:before {
    background: rgba(0, 0, 0, .4);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0
}

.bg-over-black-50:before {
    background: rgba(0, 0, 0, .5);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0
}

.bg-over-black-60:before {
    background: rgba(0, 0, 0, .6);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0
}

.bg-over-black-70:before {
    background: rgba(0, 0, 0, .7);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0
}

.bg-over-black-80:before {
    background: rgba(0, 0, 0, .8);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0
}

.bg-over-black-90:before {
    background: rgba(0, 0, 0, .9);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0
}

.bg-over-white-10:before {
    background: rgba(255, 255, 255, .1);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0
}

.bg-over-white-20:before {
    background: rgba(255, 255, 255, .2);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0
}

.bg-over-white-30:before {
    background: rgba(255, 255, 255, .3);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0
}

.bg-over-white-40:before {
    background: rgba(255, 255, 255, .4);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0
}

.bg-over-white-50:before {
    background: rgba(255, 255, 255, .5);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0
}

.bg-over-white-60:before {
    background: rgba(255, 255, 255, .6);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0
}

.bg-over-white-70:before {
    background: rgba(255, 255, 255, .7);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0
}

.bg-over-white-80:before {
    background: rgba(255, 255, 255, .8);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0
}

.bg-over-white-90:before {
    background: rgba(255, 255, 255, .9);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0
}

#back-to-top .top {
    z-index: 999;
    position: absolute;
    margin: 0;
    color: #fff;
    bottom: 1%;
    right: 1%;
    font-weight: 600;
    overflow: hidden
}

#back-to-top .top i {
    font-size: 18px;
    vertical-align: baseline;
}

#back-to-top:hover .top i {
    top: 0
}

#back-to-top .top:hover {
    color: rgba(255, 255, 255, .6)
}

#loading {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    z-index: 9999
}

#loading img {
    width: 150px
}

section {
    background: #fff;
    padding: 100px 0
}

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

.parallax {
    background-size: cover !important;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -ms-background-size: cover !important;
    position: relative;
    z-index: 0;
    background-origin: initial;
    background-position: center center !important;
    background-repeat: no-repeat
}